*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#principale{
    height: calc(100vh - 100px);
    background-color: red;
}
#principale::after{
    content: "";
    display: table;
    clear: both;
}
/* inizio parte navigazione */
aside{
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
}
#container-top {
    display: flex;
    flex-direction: column;
    color: lightgrey;
    padding-left: 15px;
    margin: 0 20px;
}
.spotify-lg {
    width: 150px;
    margin-top: 20px;
    height: 50px;
}
.spotify-xs {
    display: none;
    size: 10%;
}

.container-mid {
    color: lightgrey;
    padding-left: 15px;
    margin-top: 20px;
    margin: 0 20px;
}

.container-bot {
    color: lightgrey;
    margin-bottom: 20px;
    padding-left: 15px;
    margin: 0 20px;
}

.top{
    height: calc(100vh - 200px)
}


span{
    margin-left: 10px;
}

ul li{
    margin-top: 20px;
    list-style-type: none;
}

.crea{
    display: flex;
    align-items: center;
}

hr {
    margin: 15px;
}

/* fine parte navigazione */


/* INIZIO PARTE PRINCIPALE top  */

main{
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    background-color: coral;
}

.container-top {
    height: 70px;
    max-width: 975px;
    margin: 0 auto;
}

.upgrade-container{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
}
.upgrade-button{
    
    background-color: black; 
    border-style: solid 3px; 
    border-color: white;
    color: white;
    margin: 20px 20px;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.top-main-container {
    height: 80px;
    max-width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: rgba(207, 183, 183, 0.664) ;
}

.top-main-container h5 {
    cursor: pointer;
}

.top-main-container h5:hover {
    color: white;
}

/* manca linea verde sotto */

/* manca linea verde sotto */

/* inizio parte RECENTLY PLAYED */

#center-container{
    width: 100%;
    
    
}
h1{
    color: white;
    margin: 55px;
}
.main-container-flex {
    max-width: 100%;
    display: flex;
    justify-content:space-around;
    margin: 20px 0px;
    overflow: auto;
}


.quadro{
    width: 200px;
}



img{
    height: 200px;
}





/* inizio footer */
footer{
    height: 100px;
    width: 100%;
    background-color: rgb(85, 24, 134);
}

.container-footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}
#footer-left {
    width: 20%;
    margin: 20px 20px;
    display: flex;
    align-items: center;
}

#songselected{
    height: 80px;
    margin-right: 20px;
    cursor: pointer;
}
.footer-left-text, .footer-left-icons{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer-center {
    float: left;
    width: 45%;
    padding: 18px;
}
.commands-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

#range-player{
    width: 600px;
    margin: 0 30px;
}

.player{
    color: white;
}

#footer-right {
    float: left;
    width: 15%;
    padding: 18px;
    color: lightgrey;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
    cursor: pointer;
    color: white;
}

.range {
    display: flex;
    width: 300px;
    height: 40%;
}